
@{
    ViewBag.Title = "About";
}


<div class="infopanel">
    <h2>Basic Information</h2>
    <p class="mainbody">
        My name is Gertjan van Dijk, i started the Educom traineeship at june 3rd.<br />
        Outside of this traineeship, i spend my time on a selection of other hobbies:<br />
        <dl class="mainbody">
            <dt>* Music
            <dd>I am an active musician, being a playing member in three different orchestra's, playing the <a class="internallink" href="http://www.wikipedia.com/wiki/euphonium">euphonium</a>.</dd>
            <dt>* Board
            <dd>I am also installed into the board at one of these orchestra's.</dd>
            <dt>* Tabletop games
            <dd>I am a member of a physical D&D/Pathfinder group that meets biweekly, and i am also playing in a few online, text-based campaigns in between.</dd>
        </dl>
    </p>

    <h2>History</h2>
    <p class="mainbody">
        I have started my career studying "Advanced Technology", where i learned structured thinking and laid the foundations of programming.<br />
        Unfortunately, i was unable to finish this program, which led me to some wandering torugh several jobs. These jobs progressively led me towards software development. <br />
        These wanderings have culmunated into getting accepted for the traineeship here at Educom, which will cement my skills, and will likely be my last stop.
        <br />
    </p>
</div>