
@{
    ViewBag.Title = "Home";
}

<div class="infopanel">
    <h2>Welcome</h2>
    <p class="mainbody">
        <span>Welcome to this webpage; this site is the visual representation of an ongoing process of improvement.</span>
        <span>This process is primarily located behind the UI, but progressing insight leads to clearly visible changes as well.</span>
    </p>
</div>
